/* dimensioni colonne vuote, da cancellare quando riempite  */

div[class^="colonna-"] {
  height: 100px;
}

/* clearing */

.riga::after {
  content: "";
  clear: both;
  display: table;
  margin: 10px 0px;
}

/* dati colonne */

[class^="colonna-"] {
  float: left;
}

.colonna-100 {
  width: 100%;
}

/* colori colonne */

.pink {
  background-color: pink;
}

.yellow {
  background: yellow;
}

.viola {
  background-color: purple;
}
